.container{
    position: relative;
}

.chart-box{
    height: 100%;
    min-height: 200px;
    max-height: 95%;
    padding-top: 16px;
    box-sizing: border-box;
}

.item{
    align-items: center;
    column-gap: 4px;
    padding-top: 16px;
    display: grid;
    height: 200px;
    grid-template-columns: repeat( auto-fit, minmax(25px, 1fr) );
}

.content{
    flex: 1 1 auto;
    text-align: center;
}

.grade-card {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 15;
    background: var(--primary-bg);
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
    .grade-ranges {
        display: flex;
        gap: 2px;
        justify-content: center;
        .grade-range {
            width: 65px;
            height: 18px;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .range-text {
                font-family: 'Inter', sans-serif;
                font-size: 9px;
                font-weight: 600;
                color: var(--primary-txt);
                text-align: center;
            }
        }
    }
}

@media (max-width: 1500px) {
    .container{
        padding-top: 16px;
    }
    .chart-box{
        height: 165px;
    }
    .item{
        align-items: center;
        column-gap: 4px;
        padding-top: 16px;
        height: auto !important;
        row-gap: 16px;
    }

    .content{
        flex: 1 1 auto;
        text-align: center;
        height: 125px;
    }
}