<div class="container w-100 h-100 bz">
    @if (data() && property()[0]) {
        <div class="w-100 h-100 bz d-flex item">
            @for (item of inverter(); track $index;) {
                <div class="content h-100">
                    <app-stack-chart
                    [value]="data()[item+'_'+selectedInverter()?.prefix]?.Value?.toString() || '0'"
                    [maxVal]="data()[item+'_'+selectedInverter()?.prefix]?.Max || 0"
                    [unit]="data()[item+'_'+selectedInverter()?.prefix]?.Unit || ''"
                    [activeColor]="selectedInverter()?.activeColor"
                    [bgColor]="selectedInverter()?.bgColor"
                    [bdRadius]="selectedInverter()?.bdRadius"
                    [rangeVal]="selectedInverter()?.rangeVal"
                    [label]="item"
                    [legend]="selectedInverter()?.legend"
                    [verLabel]="selectedInverter()?.verleLabel"
                    [height]="70"
                    ></app-stack-chart>
                
                </div>
            }
        </div>
        <div class="grade-card">
            <div class="grade-ranges">
                @for (color of property(); track $index) {
                    <div class="grade-range" [style.background-color]="selectedInverter().prefix == color.prefix ? color.activeColor : color.bgColor" (click)="changeMode(color)">
                        <span class="range-text">{{ color.title }}</span>
                    </div>
                }
            </div>
        </div>
    }
</div>