<div class="container-fluid bz">
    <div class="row-grid w-100 h-100 bz">
        <div class="table-group h-100 w-100 bz">
            <section class="header bz d-flex w-100">
                <div class="d-flex selector-box" style="column-gap: 8px;">
                    <div class="dropdown-wrapper" #dropdownWrapper>
                        <div class="custom-dropdown d-flex-ct bz h-100" 
                            [class.active]="isDropdownOpen"
                            (click)="toggleDropdown($event)">
                            <div class="selected-option">
                                <span class="material-icons">{{ selectedOption.icon }}</span>
                                <span>{{ selectedOption.label }}</span>
                            </div>
                            <span class="material-icons dropdown-arrow">keyboard_arrow_down</span>
                        </div>
                        <div class="dropdown-menu" [class.show]="isDropdownOpen">
                            @for (option of options; track $index) {
                                <div class="dropdown-item"
                                    [class.selected]="selectedOption.value === option.value"
                                    [attr.data-value]="option.value"
                                    (click)="selectOption($event, option)">
                                    <span class="material-icons">{{ option.icon }}</span>
                                    <span>{{ option.label }}</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="d-flex h-100 btn-group" style="column-gap: 8px;">
                    @if (selectedOption.value !== 'data-table') {
                        <label class="config-check d-flex-ct bz h-100" style="column-gap: 6px; cursor: pointer;">
                            <input 
                                type="checkbox" 
                                [(ngModel)]="isCombinedChart"
                                (change)="toggleCombineChart($event)"
                                style="width: 16px; height: 16px; cursor: pointer;">
                            <!-- <i class="material-icons" style="font-size: 16px;">line_axis</i> -->
                            <span>SPLITE</span>
                        </label>
                    }
                    <button class="config d-flex-ct bz h-100" style="column-gap: 4px;" (click)="captureChart()">
                        @if (loadingImg()) {
                            <div class="icon-box d-flex-ct">
                                <i class="material-icons spinner" style="font-size: 16px;" >refresh</i>
                            </div>
                        } @else {
                            <i class="material-icons" style="font-size: 16px;">camera_alt</i>
                        }
                        CAPTURE
                    </button>
                    <button class="config d-flex-ct bz h-100" style="column-gap: 4px;" (click)="exportAllToExcel()">
                        <i class="material-icons" style="font-size: 16px;">save</i>
                        EXPORT
                    </button>
                </div>
            </section>
            @if(isLoadingChart){
                <div class="tables-group h-100 w-100 bz" >
                    <div class="w-100 h-100 ">
                        <app-skeleton-box></app-skeleton-box>
                    </div>
                </div>
            } @else {
                @switch (selectedOption.value) {
                    @case ('data-table') {
                        <div class="tables-group h-100 w-100 bz" >
                            <div class="table bz h-100">
                                @if (responseHistorian().length > 0) {
                                    <app-data-table [data]="responseHistorian()"></app-data-table>
                                }
                            </div>
                        </div>
                    }
                    @default {
                        <div class="chart-group w-100 bz" [id]="'combined-chart'">
                            <!-- Combined Chart View -->
                            @if (!isCombinedChart && combinedChartParameter()) {
                                <div class="w-100 bz chart-box h-100" >
                                    <div class="chart w-100 h-100 bz" >
                                        <ng-container>
                                            <app-highchart [chartParameter]="combinedChartParameter()!" id="combined-chart">
                                            </app-highchart>
                                        </ng-container>
                                    </div>
                                </div>
                            }
                            
                            <!-- Individual Charts View -->
                            @if (isCombinedChart) {
                                <ng-container >
                                    @for (item of chartParameter(); track $index; let i = $index) {
                                        <div class="w-100 bz chart-box h-100">
                                            <div class="chart w-100 h-100 bz" >
                                                <ng-container>
                                                    <app-highchart [chartParameter]="item" [id]="'chart-' + i">
                                                    </app-highchart>
                                                </ng-container>
                                            </div>
                                        </div>
                                    }
                                </ng-container>
                            }
                        </div>
                    }
                }
            }
        </div>
        <div class="tag-group h-100 bz">
            <ng-container>
                <app-tag-container
                    [tagConfig]="configTest()"
                    [siteName]="siteSelected()"
                    (emitResponse)="emitResponse($event)"
                    (isLoading)="onLoadingData($event)"
                    (clrDatas)="clearData()">
                </app-tag-container>
            </ng-container>
        </div>
    </div>
</div>