<div class="w-100 h-100 container bz">
    <div class="btn-group">
        @for (item of diagramList(); track $index) {
            <button [ngClass]="{ 'active' : selectedDiagram().name === item.name}" class="btn" (click)="changeTabs(item)">{{ item.title }}</button>
        }
    </div>
    <div class="infoCard w-100 h-100 bz">
        <app-card-container [title]="'SYSTEM DIAGRAM'">
            <ng-template #container>
                @if (svgSafe()) {
                    <div class="contentBox d-flex bz" >
                        <div #svgContainer [innerHTML]="svgSafe()" class="content"></div>
                    </div>
                }
            </ng-template>
        </app-card-container>
    </div>
</div>
