<div class="container w-100 h-100 bz">

    <div class="card-box w-100 bz">
        <div class="title w-100">NAME</div>
        <div class="value bz w-100">WeatherStation Com Fail</div>
    </div>
    
    <div class="card-box w-100 bz">
        <div class="title w-100">TIMESTAMP</div>
        <div class="value bz w-100">20-April-2025 13:49:00</div>
    </div>

    <div class="card-box w-100 bz">
        <div class="title w-100">MESSAGE</div>
        <div class="value bz w-100">Weather Station connection lost</div>
    </div>

    <div class="card-box w-100 bz">
        <div class="title w-100">CONDITION</div>
        <div class="value bz w-100">{{"STX01.CALC.INSOLATION > 1000 AND STX01.CALC.CAPACITY < 10 "}}</div>
    </div>

</div>
