.envi-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 5%;
    column-gap: 24px;
}

@media (max-width: 1700px) {
   
}

@media (max-width: 1200px) {
   
}

@media (max-width: 768px) {
    
}