:root {

  --main-bg: #16171B;
  --card-bg: #1F2125;
  --primary-bg: #292B2F;
  --secondary-bg: #485057;
  --secondary-bg-50: #4850578a;
  
  --primary-txt: #F5F7FB;
  --secondary-txt: #667079;
  --active-txt: #E4B61A;

  --border-color: #485057;

  --highlight: #FBE134;

  --color-gd1: #E4B61A;
  --color-gd2: #dfce61;
  
}
