[data-theme='light'] {

  --main-bg: #E4E4E4;
  --card-bg: #FAFAFA;
  --primary-bg: #fff7c6;
  --secondary-bg: #485057;
  --secondary-bg-50: #ffffff8a;
  
  --primary-txt: #1D1D1D;
  --secondary-txt: #667079;
  --active-txt: #FFAE2A;

  --border-color: #D7D7D7;

  --highlight: #FBE134;

  --color-gd1: #E4B61A;
  --color-gd2: #FBE134;

  --header-bg1: #E4B61A;
  --header-bg2: #ffe95d;
  --header-txt: #F5F7FB;
  
}
