@if (expanded) {
    <div class="card-backdrop" (click)="toggleExpand()"></div>
}
<div class="w-100 h-100 bz container d-col" [class.expanded]="expanded">
    @if (title || expandable) {
        <div class="topic bz w-100">
            @if (title) {
                <span>{{title | uppercase}}</span>
            }
            @if (expandable) {
                <button type="button" class="expand-btn brd" (click)="toggleExpand()" [attr.aria-label]="expanded ? 'ย่อ' : 'ขยาย'">
                    <mat-icon>{{expanded ? 'close_fullscreen' : 'open_in_full'}}</mat-icon>
                </button>
            }
        </div>
    }
    <div class="content no-pm h-100 w-100 bz">
        <ng-container *ngTemplateOutlet="containerTmp"></ng-container>
    </div>
</div>
