.container{
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "infoCard infoCard produceCard produceCard"
        "solarCard solarCard energyCard energyCard"
        "inverterCard inverterCard inverterCard inverterCard"
    ;
    grid-gap: 16px; 
    max-height: 100vh;
    overflow-y: auto;
}

.infoCard { grid-area: infoCard; }
.powerCard { grid-area: powerCard; }
.produceCard { grid-area: produceCard; }
.weatherCard { grid-area: weatherCard; }
.solarCard { grid-area: solarCard; }
.energyCard { grid-area: energyCard; }
.inverterCard { grid-area: inverterCard; }


@media (max-width: 1700px) {
    .container{
        padding: 16px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, min(250px));
        grid-template-areas: 
            "infoCard infoCard produceCard produceCard"
            "solarCard solarCard energyCard energyCard"
            "inverterCard inverterCard inverterCard inverterCard"
        ;
        grid-gap: 16px; 
        max-height: calc(100vh - 100px);
        overflow-y: auto;
    }
    
}

@media (max-width: 1500px) {

}

@media (max-width: 1200px) {
    .container{
        padding: 16px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, min(250px));
        grid-template-areas: 
            "infoCard infoCard infoCard infoCard"
            "produceCard produceCard produceCard produceCard"
            "solarCard solarCard solarCard solarCard"
            "energyCard energyCard energyCard energyCard"
            "inverterCard inverterCard inverterCard inverterCard"
        ;
        grid-gap: 16px; 
        max-height: calc(100vh - 100px);
        overflow-y: auto;
    }
}

@media (max-width: 800px) {
    .container{
        padding: 16px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, min(275px));
        grid-template-areas: 
            "infoCard"
            "produceCard"
            "solarCard"
            "energyCard"
            "inverterCard"
        ;
        grid-gap: 16px; 
        max-height: calc(100vh - 250px);
        overflow-y: auto;
    }
}

@media (max-width: 500px) {
    
}