<div class="chart-container w-100 h-100 bz">
    <div class="d-flex-sb time-container w-100 bz">
        <div>
           <i class="material-icons" style="font-size: 16px;" (click)="captureChart()">camera_alt</i>
           <i class="material-icons" style="font-size: 16px; margin-left: 8px;" (click)="exportAllToExcel()">save</i>
        </div>
        <div class="time-content">
            <div class="datepicker bz">
                @switch (mode) {
                    @case ('d') {
                        <app-date-picker [initdate]="date" (selectDate)="onDateSelect($event)" [type]="'day'" [scale]="0.75"></app-date-picker>
                    }
                    @case ('w') {
                        <app-date-picker [initdate]="date" (selectDate)="onDateSelect($event)" [type]="'day'" [scale]="0.75"></app-date-picker>
                    }
                    @case ('m') {
                        <app-date-picker [initdate]="date" (selectDate)="onDateSelect($event)" [type]="'month'" [scale]="0.75"></app-date-picker>
                    }
                    @case ('y') {
                        <app-date-picker [initdate]="date" (selectDate)="onDateSelect($event)" [type]="'year'" [scale]="0.75"></app-date-picker>
                    }
                }
            </div>
            <div class="time-box d-flex bz" style="border-radius: 6px;">
                <div class="time-box d-flex" style="border-radius: 6px;">
                    <div class="time" [class.active]="mode === 'd'" (click)="setTimeRange('d')">&bull; DAY</div>
                    <div class="time" [class.active]="mode === 'w'" (click)="setTimeRange('w')">&bull; WEEK</div>
                    <div class="time" [class.active]="mode === 'm'" (click)="setTimeRange('m')">&bull; MONTH</div>
                    <div class="time" [class.active]="mode === 'y'" (click)="setTimeRange('y')">&bull; YEAR</div>
                </div>
            </div>
        </div>
    </div>
    <div [id]="'chart'" class="w-100 bz">
       @if (chartData()) {
        <app-highchart [chartParameter]="chartData()"></app-highchart>
       }
    </div>
</div>
