#map {
  background: var(--map-bg);
}

.container{
  position: relative;
  overflow: hidden;
}

.leaflet-container {
  background: var(--map-bg);
}

/* popup */
.leaflet-popup-tip {
  background: var(--card-bg);
}

.custom-marker-wrapper {
  width: 20px;
  height: 20px;
}

.marker-dot {
  width: 12px;
  height: 12px;
  background: var(--map-active);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--map-active);
}

.label{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100000;
  background-color: var(--card-bg);
  padding: 6px 12px;
  border-radius: 4px;
  //gap: 12px;
  border: 1px solid var(--border-color);
}

.item{
  display: flex;
  align-items: center;
  gap: 6px;
  border-right: 1px solid var(--border-color);
  padding:0px 8px;
  .dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #667079;
  }
  .topic{
    color: var(--primary-txt);
    font-size: 12px;
  }
  .val{
    color: var(--primary-txt);
    font-size: 12px;
    font-weight: 600;
  }
}

.item:last-child{
  border: none;
}
