<div class="container w-100 h-100 bz">
    <div class="header-content w-100 bz">
        <div class="toolbar w-100 bz">
            <div class="search-box bz">
                <i class="material-icons">search</i>
                <input type="text" placeholder="Search site / code..." [ngModel]="searchText()" (ngModelChange)="searchText.set($event)">
            </div>
            <div class="chip-group bz">
                <div class="chip bz" [class.active]="statusFilter() === 'all'" (click)="statusFilter.set('all')">All</div>
                <div class="chip bz" [class.active]="statusFilter() === 'issue'" (click)="statusFilter.set('issue')">Issues</div>
            </div>
            <div class="toolbar-right bz">
                <!-- <div class="count">Showing {{ filteredData().length }} / {{ tableData().length }} sites</div> -->
                <button class="tool-btn bz" (click)="exportCSV()">
                    <i class="material-icons">download</i>
                    EXPORT CSV
                </button>
                <button class="tool-btn bz" [class.spinning]="refreshing()" (click)="refresh()">
                    <i class="material-icons">refresh</i>
                    REFRESH
                </button>
            </div>
        </div>
    </div>
    <div class="table-content w-100 bz" >
        <table class="tablebox w-100 brd">
            <tr class="header ">
                <th class=" title gray">CODE</th>
                <th class=" title gray">STATUS</th>
                <th class=" title gray">ALARM</th>
                <th class=" title gray">SITE</th>
                <th class=" title gray">LOCATION</th>
                <th class=" title gray" [class.sorted]="sortKey() === 'Capacity'">CAP. <br> (MWp)
                    @if (sortKey() === 'Capacity') {
                        <i class="material-icons sort-ind">{{ sortType() === 'desc' ? 'arrow_drop_down' : 'arrow_drop_up' }}</i>
                    }
                    <div class="filter-box bz">
                        <i class="material-icons bz" (click)="sortDatatable('Capacity', 'desc')">expand_less</i>
                        <i class="material-icons bz" (click)="sortDatatable('Capacity', 'asc')">expand_more</i>
                    </div>
                </th>
                <th class=" title gray" [class.sorted]="sortKey() === 'POWER'">POWER <br>(kW)
                    @if (sortKey() === 'POWER') {
                        <i class="material-icons sort-ind">{{ sortType() === 'desc' ? 'arrow_drop_down' : 'arrow_drop_up' }}</i>
                    }
                    <div class="filter-box bz">
                        <i class="material-icons bz" (click)="sortDatatable('POWER', 'desc')">expand_less</i>
                        <i class="material-icons bz" (click)="sortDatatable('POWER', 'asc')">expand_more</i>
                    </div>
                </th>
                <th class=" title gray" [class.sorted]="sortKey() === 'ENERGY'">E. TODAY <br>(kWh)
                    @if (sortKey() === 'ENERGY') {
                        <i class="material-icons sort-ind">{{ sortType() === 'desc' ? 'arrow_drop_down' : 'arrow_drop_up' }}</i>
                    }
                    <div class="filter-box bz">
                        <i class="material-icons bz" (click)="sortDatatable('ENERGY', 'desc')">expand_less</i>
                        <i class="material-icons bz" (click)="sortDatatable('ENERGY', 'asc')">expand_more</i>
                    </div>
                </th>
                <th class=" title gray" [class.sorted]="sortKey() === 'ENERGYMTD'">E. MTD <br>(MWh)
                    @if (sortKey() === 'ENERGYMTD') {
                        <i class="material-icons sort-ind">{{ sortType() === 'desc' ? 'arrow_drop_down' : 'arrow_drop_up' }}</i>
                    }
                    <div class="filter-box bz">
                        <i class="material-icons bz" (click)="sortDatatable('ENERGYMTD', 'desc')">expand_less</i>
                        <i class="material-icons bz" (click)="sortDatatable('ENERGYMTD', 'asc')">expand_more</i>
                    </div>
                </th>
                <th class=" title gray" [class.sorted]="sortKey() === 'ENERGYYTD'">E. YTD <br>(MWh)
                    @if (sortKey() === 'ENERGYYTD') {
                        <i class="material-icons sort-ind">{{ sortType() === 'desc' ? 'arrow_drop_down' : 'arrow_drop_up' }}</i>
                    }
                    <div class="filter-box bz">
                        <i class="material-icons bz" (click)="sortDatatable('ENERGYYTD', 'desc')">expand_less</i>
                        <i class="material-icons bz" (click)="sortDatatable('ENERGYYTD', 'asc')">expand_more</i>
                    </div>
                </th>
                <th class=" title gray" [class.sorted]="sortKey() === 'PR'">PR <br>(%)
                    @if (sortKey() === 'PR') {
                        <i class="material-icons sort-ind">{{ sortType() === 'desc' ? 'arrow_drop_down' : 'arrow_drop_up' }}</i>
                    }
                    <div class="filter-box bz">
                       <i class="material-icons bz" (click)="sortDatatable('PR', 'desc')">expand_less</i>
                        <i class="material-icons bz" (click)="sortDatatable('PR', 'asc')">expand_more</i>
                    </div>
                </th>
                <th class=" title gray" [class.sorted]="sortKey() === 'AVAI'">AVAI <br>(%)
                    @if (sortKey() === 'AVAI') {
                        <i class="material-icons sort-ind">{{ sortType() === 'desc' ? 'arrow_drop_down' : 'arrow_drop_up' }}</i>
                    }
                    <div class="filter-box bz">
                       <i class="material-icons bz" (click)="sortDatatable('AVAI', 'desc')">expand_less</i>
                        <i class="material-icons bz" (click)="sortDatatable('AVAI', 'asc')">expand_more</i>
                    </div>
                </th>
                <th class=" title gray" [class.sorted]="sortKey() === 'LOSS'">LOSS <br>(kWh)
                    @if (sortKey() === 'LOSS') {
                        <i class="material-icons sort-ind">{{ sortType() === 'desc' ? 'arrow_drop_down' : 'arrow_drop_up' }}</i>
                    }
                    <div class="filter-box bz">
                       <i class="material-icons bz" (click)="sortDatatable('LOSS', 'desc')">expand_less</i>
                        <i class="material-icons bz" (click)="sortDatatable('LOSS', 'asc')">expand_more</i>
                    </div>
                </th>
                <th class=" title gray" [class.sorted]="sortKey() === 'REV_TD'">REV. TODAY <br>(฿)
                    @if (sortKey() === 'REV_TD') {
                        <i class="material-icons sort-ind">{{ sortType() === 'desc' ? 'arrow_drop_down' : 'arrow_drop_up' }}</i>
                    }
                    <div class="filter-box bz">
                        <i class="material-icons bz" (click)="sortDatatable('REV_TD', 'desc')">expand_less</i>
                        <i class="material-icons bz" (click)="sortDatatable('REV_TD', 'asc')">expand_more</i>
                    </div>
                </th>
                <th class=" title gray" [class.sorted]="sortKey() === 'REV_MTD'">REV. MTD <br>(฿)
                    @if (sortKey() === 'REV_MTD') {
                        <i class="material-icons sort-ind">{{ sortType() === 'desc' ? 'arrow_drop_down' : 'arrow_drop_up' }}</i>
                    }
                    <div class="filter-box bz">
                        <i class="material-icons bz" (click)="sortDatatable('REV_MTD', 'desc')">expand_less</i>
                        <i class="material-icons bz" (click)="sortDatatable('REV_MTD', 'asc')">expand_more</i>
                    </div>
                </th>
                <th class=" title gray" [class.sorted]="sortKey() === 'TD'">YIELD TODAY <br>(kWh/kWp)
                    @if (sortKey() === 'TD') {
                        <i class="material-icons sort-ind">{{ sortType() === 'desc' ? 'arrow_drop_down' : 'arrow_drop_up' }}</i>
                    }
                    <div class="filter-box bz">
                        <i class="material-icons bz" (click)="sortDatatable('TD', 'desc')">expand_less</i>
                        <i class="material-icons bz" (click)="sortDatatable('TD', 'asc')">expand_more</i>
                    </div>
                </th>
                <th class=" title gray" [class.sorted]="sortKey() === 'MTD'">YIELD MTD <br>(kWh/kWp)
                    @if (sortKey() === 'MTD') {
                        <i class="material-icons sort-ind">{{ sortType() === 'desc' ? 'arrow_drop_down' : 'arrow_drop_up' }}</i>
                    }
                    <div class="filter-box bz">
                        <i class="material-icons bz" (click)="sortDatatable('MTD', 'desc')">expand_less</i>
                        <i class="material-icons bz" (click)="sortDatatable('MTD', 'asc')">expand_more</i>
                    </div>
                </th>
                <th class=" title gray" [class.sorted]="sortKey() === 'YTD'">YIELD YTD <br>(kWh/kWp)
                    @if (sortKey() === 'YTD') {
                        <i class="material-icons sort-ind">{{ sortType() === 'desc' ? 'arrow_drop_down' : 'arrow_drop_up' }}</i>
                    }
                    <div class="filter-box bz">
                        <i class="material-icons bz" (click)="sortDatatable('YTD', 'desc')">expand_less</i>
                        <i class="material-icons bz" (click)="sortDatatable('YTD', 'asc')">expand_more</i>
                    </div>
                </th>
                <th class=" title gray" [class.sorted]="sortKey() === 'IRR'">IRR <br>(W/m<sup>2</sup>)
                    @if (sortKey() === 'IRR') {
                        <i class="material-icons sort-ind">{{ sortType() === 'desc' ? 'arrow_drop_down' : 'arrow_drop_up' }}</i>
                    }
                    <div class="filter-box bz">
                        <i class="material-icons bz" (click)="sortDatatable('IRR', 'desc')">expand_less</i>
                        <i class="material-icons bz" (click)="sortDatatable('IRR', 'asc')">expand_more</i>
                    </div>
                </th>
                <th class=" title gray" [class.sorted]="sortKey() === 'PV'">PVTEMP <br>(C&deg;)
                    @if (sortKey() === 'PV') {
                        <i class="material-icons sort-ind">{{ sortType() === 'desc' ? 'arrow_drop_down' : 'arrow_drop_up' }}</i>
                    }
                    <div class="filter-box bz">
                        <i class="material-icons bz" (click)="sortDatatable('PV', 'desc')">expand_less</i>
                        <i class="material-icons bz" (click)="sortDatatable('PV', 'asc')">expand_more</i>
                    </div>
                </th>
                <th class=" title gray" [class.sorted]="sortKey() === 'AMB'">AMBTEMP <br>(C&deg;)
                    @if (sortKey() === 'AMB') {
                        <i class="material-icons sort-ind">{{ sortType() === 'desc' ? 'arrow_drop_down' : 'arrow_drop_up' }}</i>
                    }
                    <div class="filter-box bz">
                       <i class="material-icons bz" (click)="sortDatatable('AMB', 'desc')">expand_less</i>
                        <i class="material-icons bz" (click)="sortDatatable('AMB', 'asc')">expand_more</i>
                    </div>
                </th>
            </tr>
            @for (item of filteredData(); track $index) {
                <tr class="row " >
                    <td class=" value gray">{{item.Id}}</td>
                    <td class=" value status">
                        @if (getOnlineStatus(item.SEEN) === 'ONLINE') {
                            <span class="online-chip online">ONLINE</span>
                        } @else {
                            <span class="online-chip offline">OFFLINE</span>
                        }
                    </td>
                    <td class=" value status"
                        [class.alarm-stale]="getOnlineStatus(item.SEEN) === 'OFFLINE'"
                        [matTooltip]="getAlarmTooltip(item.Id, item.SEEN)" matTooltipPosition="above">
                        @switch (getPlantStatus(item.Id)) {
                            @case ('warning'){
                                <div class="icon-box d-flex-ct st-warning">
                                    <i class="material-icons" >error_outline</i>
                                </div>
                            }
                            @case ('minor') {
                                <div class="icon-box d-flex-ct st-minor">
                                    <i class="material-icons" >error</i>
                                </div>
                            }
                            @case ('major') {
                                <div class="icon-box d-flex-ct st-major">
                                    <i class="material-icons" >notifications</i>
                                </div>
                            }
                            @case ('info') {
                                <div class="icon-box d-flex-ct st-normal">
                                    <i class="material-icons" >check</i>
                                </div>
                            }
                            @default {
                                <div class="icon-box d-flex-ct st-default">
                                    <i class="material-icons" >question_mark</i>
                                </div>
                            }
                        }
                    </td>
                    <td class=" value gray">{{item.Name | uppercase}}</td>
                    <td class=" value gray">{{item.Province | uppercase}}</td>
                    <td class=" value gray" [class.sorted]="sortKey() === 'Capacity'">{{item.Capacity}}</td>
                    <td class=" value gray" [class.sorted]="sortKey() === 'POWER'">{{item.POWER | numberFomat: '1.0-0'}}</td>
                    <td class=" value gray" [class.sorted]="sortKey() === 'ENERGY'">{{item.ENERGY | numberFomat: '1.0-0'}}</td>
                    <td class=" value gray" [class.sorted]="sortKey() === 'ENERGYMTD'">{{item.ENERGYMTD | numberFomat: '1.0-0'}}</td>
                    <td class=" value gray" [class.sorted]="sortKey() === 'ENERGYYTD'">{{item.ENERGYYTD | numberFomat: '1.0-0'}}</td>
                    <td class=" value gray" [class.sorted]="sortKey() === 'PR'">{{item.PR | numberFomat: '1.0-1'}}</td>
                    <td class=" value gray" [class.sorted]="sortKey() === 'AVAI'">{{item.AVAI | numberFomat: '1.0-1'}}</td>
                    <td class=" value gray" [class.sorted]="sortKey() === 'LOSS'">{{item.LOSS | numberFomat: '1.0-0'}}</td>
                    <td class=" value gray" [class.sorted]="sortKey() === 'REV_TD'">{{item.REV_TD | numberFomat: '1.0-0'}}</td>
                    <td class=" value gray" [class.sorted]="sortKey() === 'REV_MTD'">{{item.REV_MTD | numberFomat: '1.0-0'}}</td>
                    <td class=" value gray" [class.sorted]="sortKey() === 'TD'">{{item.TD | numberFomat: '1.0-2'}}</td>
                    <td class=" value gray" [class.sorted]="sortKey() === 'MTD'">{{item.MTD | numberFomat: '1.0-0'}}</td>
                    <td class=" value gray" [class.sorted]="sortKey() === 'YTD'">{{item.YTD | numberFomat: '1.0-0'}}</td>
                    <td class=" value gray" [class.sorted]="sortKey() === 'IRR'">{{item.IRR | numberFomat: '1.0-0'}}</td>
                    <td class=" value gray" [class.sorted]="sortKey() === 'PV'">{{item.PV | numberFomat: '1.0-1'}}</td>
                    <td class=" value gray" [class.sorted]="sortKey() === 'AMB'">{{item.AMB | numberFomat: '1.0-1'}}</td>
                </tr>
            }
            <tr class="footer">
                <td class=" value label" colspan="5">PORTFOLIO TOTAL · {{ tableSummary().count }} SITES</td>
                <td class=" value" [class.sorted]="sortKey() === 'Capacity'">{{ tableSummary().Capacity | numberFomat: '1.0-1' }}</td>
                <td class=" value" [class.sorted]="sortKey() === 'POWER'">{{ tableSummary().POWER | numberFomat: '1.0-0' }}</td>
                <td class=" value" [class.sorted]="sortKey() === 'ENERGY'">{{ tableSummary().ENERGY | numberFomat: '1.0-0' }}</td>
                <td class=" value" [class.sorted]="sortKey() === 'ENERGYMTD'">{{ tableSummary().ENERGYMTD | numberFomat: '1.0-0' }}</td>
                <td class=" value" [class.sorted]="sortKey() === 'ENERGYYTD'">{{ tableSummary().ENERGYYTD | numberFomat: '1.0-0' }}</td>
                <td class=" value" [class.sorted]="sortKey() === 'PR'">
                    @if (tableSummary().PR !== null) {
                        <span class="avg-tag">avg</span> {{ tableSummary().PR | numberFomat: '1.0-1' }}
                    } @else { --- }
                </td>
                <td class=" value" [class.sorted]="sortKey() === 'AVAI'">
                    @if (tableSummary().AVAI !== null) {
                        <span class="avg-tag">avg</span> {{ tableSummary().AVAI | numberFomat: '1.0-1' }}
                    } @else { --- }
                </td>
                <td class=" value" [class.sorted]="sortKey() === 'LOSS'">{{ tableSummary().LOSS | numberFomat: '1.0-0' }}</td>
                <td class=" value" [class.sorted]="sortKey() === 'REV_TD'">{{ tableSummary().REV_TD | numberFomat: '1.0-0' }}</td>
                <td class=" value" [class.sorted]="sortKey() === 'REV_MTD'">{{ tableSummary().REV_MTD | numberFomat: '1.0-0' }}</td>
                <td class=" value" [class.sorted]="sortKey() === 'TD'">
                    @if (tableSummary().TD !== null) {
                        <span class="avg-tag">avg</span> {{ tableSummary().TD | numberFomat: '1.0-2' }}
                    } @else { --- }
                </td>
                <td class=" value" [class.sorted]="sortKey() === 'MTD'">
                    @if (tableSummary().MTD !== null) {
                        <span class="avg-tag">avg</span> {{ tableSummary().MTD | numberFomat: '1.0-0' }}
                    } @else { --- }
                </td>
                <td class=" value" [class.sorted]="sortKey() === 'YTD'">
                    @if (tableSummary().YTD !== null) {
                        <span class="avg-tag">avg</span> {{ tableSummary().YTD | numberFomat: '1.0-0' }}
                    } @else { --- }
                </td>
                <td class=" value" [class.sorted]="sortKey() === 'IRR'">
                    @if (tableSummary().IRR !== null) {
                        <span class="avg-tag">avg</span> {{ tableSummary().IRR | numberFomat: '1.0-0' }}
                    } @else { --- }
                </td>
                <td class=" value" [class.sorted]="sortKey() === 'PV'">
                    @if (tableSummary().PV !== null) {
                        <span class="avg-tag">avg</span> {{ tableSummary().PV | numberFomat: '1.0-1' }}
                    } @else { --- }
                </td>
                <td class=" value" [class.sorted]="sortKey() === 'AMB'">
                    @if (tableSummary().AMB !== null) {
                        <span class="avg-tag">avg</span> {{ tableSummary().AMB | numberFomat: '1.0-1' }}
                    } @else { --- }
                </td>
            </tr>
        </table>
    </div>
</div>
