.container{
    padding: 8px;
    max-height: 95vh;
    height: 95vh;
}

.table-content{
    //background-color: #222529;
    //border: 1px solid #2d3136;
    border-radius: 4px;
    max-height: 95vh;
    height: 95vh;
    overflow-y: scroll;
}

.tablebox{
    border-collapse: collapse;
    border: 1px solid #2d3136;
    //background-color: aqua;
    position: relative;
}

.header{
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0px;
    // left: 0;
    //display: grid;
    //grid-template-columns: repeat(19, auto);
    background-color: #202327;
    border: 1px solid #2d3136;
    .title{
        padding: 8px 0px;
        text-align: center;
        font-size: 12px;
        //color: #99aabb;
        position: relative;
        .filter-box{
            display: none;
        }
    }
    .title:hover{
        background-color: #2d3136;
        .filter-box{
            display: grid;
            position: absolute;
            min-width: 150px;
            background-color: #222529;
            border: 1px solid #2d3136;
            z-index: 50;
            top: 100%;
            left: 0%;
        }
    }
    
}

.row{
    overflow-y: scroll;
    .value{
        padding: 6px;
        text-align: center;
        font-size: 12px;
        
    }
    
}

.row:nth-child(odd){
    background-color: #202327;
}

.row:nth-child(even){
    background-color: #26292D;
}

.row:hover{
    filter: brightness(150%);
}

.st-normal{
    background-color: #00FFA3;
    border-radius: 50%;
    font-size: 12px;
    padding: 2px;
    font-weight: 800;
    text-align: center;
    color: #222529;
}

.st-danger{
    background-color: #EE4400;
    border-radius: 50%;
    font-size: 12px;
    padding: 2px;
    font-weight: 500;
    width: 14px;
    color: #222529;
}

.st-warning{
    background-color: #ffc107;
    border-radius: 50%;
    font-size: 10px;
    padding: 2px;
    font-weight: 500;
    color: #222529;
}

.icon-box{
    width: 16px;
    height: 16px;
    .material-icons{
        font-size: 10px;
    }
}

.filter-box{
    display: none;
}

@media only screen and (min-width: 3839px) {
    
    .header{
        border: 1px solid #2d3136;
        .title{
            padding: 16px 0px !important;
            font-size: 20px !important;
        }
        .title:hover{
            background-color: #2d3136;
            .filter-box{
                display: grid;
                position: absolute;
                min-width: 150px;
                background-color: #222529;
                border: 1px solid #2d3136;
                z-index: 50;
                top: 100%;
                left: 0%;
            }
        }
        
    }
    
    .row{
        .value{
            padding: 16px;
            font-size: 20px !important;
            
        }
        
    }
    
}

@media only screen and (min-width: 2559px) {
    
    .header{
        border: 1px solid #2d3136;
        .title{
            padding: 8px 0px;
            font-size: 16px;
        }
        .title:hover{
            background-color: #2d3136;
            .filter-box{
                display: grid;
                position: absolute;
                min-width: 150px;
                background-color: #222529;
                border: 1px solid #2d3136;
                z-index: 50;
                top: 100%;
                left: 0%;
            }
        }
        
    }
    
    .row{
        .value{
            padding: 10px;
            font-size: 16px;
            
        }
        
    }
    
}

@media only screen and (max-width: 1024px) {
    
    .container{
        max-width: 100vw;
        width: 100%;
    }

    .table-content .tablebox{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 8px;
    }

    table, thead, tbody, th, td, tr { 
		display: block; 
	}

    .header{
        display: none;
    }

	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.row { 
        //border: 1px solid #ff0000;
        padding: 0px;
        margin: 8px 0px;
        overflow-y: visible;
        .value{ 
            padding: 2px 0px 2px 60%;
            text-align: left; 
            font-size: 10px;
            //background-color: #25282c67;
            //border: 1px solid #ff0000;
        }
    }

    .normal{
        background-color: #00FFA3;
        border-radius: 50%;
        font-size: 10px;
        padding: 2px;
        font-weight: 500;
        color: #222529;
    }
    
    .st-danger{
        background-color: #EE4400;
        border-radius: 50%;
        font-size: 10px;
        padding: 2px;
        font-weight: 500;
        width: 12px;
        color: #222529;
    }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #2d3136; 
		position: relative;
		//padding:0px 0px 0px 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
        //border: 1px solid #15ff00;
		top: 50%;
		left: 6px;
		width: 45%;
        padding-left: 24px !important; 
        transform: translateY(-50%);
		white-space: nowrap;
        text-align: start;
        font-size: 10px;
        background-color: #222529;
	}
	
	td:nth-of-type(1):before { content: "STATUS";
    color: #99aabb; }
    td:nth-of-type(2):before { content: "UPDATED"; }
    td:nth-of-type(3):before { content: "CODE"; }
    td:nth-of-type(4):before { content: "SITE"; }
    td:nth-of-type(5):before { content: "PROVINCE"; }
    td:nth-of-type(6):before { content: "DISTRICT"; }
    td:nth-of-type(7):before { content: "CAPACITY (MWp)"; }
    td:nth-of-type(8):before { content: "POWER (kW)"; }
    td:nth-of-type(9):before { content: "TODAY (MWH)"; }
    td:nth-of-type(10):before { content: "PR (%)"; }
    td:nth-of-type(11):before { content: "OPR (%)"; }
    td:nth-of-type(12):before { content: "MTH (kWh/kWp)"; }
    td:nth-of-type(13):before { content: "YTH (kWh/kWp)"; }
    td:nth-of-type(14):before { content: "PYRANO (W/m2)"; }
    td:nth-of-type(15):before { content: "PVTEMP1 (Deg. C)"; }
    td:nth-of-type(16):before { content: "PVTEMP2 (Deg. C)"; }
    td:nth-of-type(17):before { content: "AMBTEMP (Deg. C)"; }
}

@media only screen and (max-width: 768px) {
    
    .container{
        max-width: 100vw;
        width: 100%;
    }

    .table-content .tablebox{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 8px;
    }

    table, thead, tbody, th, td, tr { 
		display: block; 
	}

    .header{
        display: none;
    }

	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.row { 
        //border: 1px solid #ff0000;
        padding: 0px;
        margin: 8px 0px;
        overflow-y: visible;
        .value{ 
            padding: 2px 0px 2px 60%;
            text-align: left; 
            font-size: 10px;
            //background-color: #25282c67;
            //border: 1px solid #ff0000;
        }
    }

    .normal{
        background-color: #00FFA3;
        border-radius: 50%;
        font-size: 10px;
        padding: 2px;
        font-weight: 500;
        color: #222529;
    }
    
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #2d3136; 
		position: relative;
		//padding:0px 0px 0px 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
        //border: 1px solid #15ff00;
		top: 50%;
		left: 6px;
		width: 45%;
        padding-left: 24px !important; 
        transform: translateY(-50%);
		white-space: nowrap;
        text-align: start;
        font-size: 10px;
        background-color: #222529;
	}
	
	td:nth-of-type(1):before { content: "STATUS";
    color: #99aabb; }
    td:nth-of-type(2):before { content: "UPDATED"; }
    td:nth-of-type(3):before { content: "CODE"; }
    td:nth-of-type(4):before { content: "SITE"; }
    td:nth-of-type(5):before { content: "PROVINCE"; }
    td:nth-of-type(6):before { content: "DISTRICT"; }
    td:nth-of-type(7):before { content: "CAPACITY (MWp)"; }
    td:nth-of-type(8):before { content: "POWER (kW)"; }
    td:nth-of-type(9):before { content: "TODAY (MWH)"; }
    td:nth-of-type(10):before { content: "PR (%)"; }
    td:nth-of-type(11):before { content: "OPR (%)"; }
    td:nth-of-type(12):before { content: "MTH (kWh/kWp)"; }
    td:nth-of-type(13):before { content: "YTH (kWh/kWp)"; }
    td:nth-of-type(14):before { content: "PYRANO (W/m2)"; }
    td:nth-of-type(15):before { content: "PVTEMP1 (Deg. C)"; }
    td:nth-of-type(16):before { content: "PVTEMP2 (Deg. C)"; }
    td:nth-of-type(17):before { content: "AMBTEMP (Deg. C)"; }
}

@media only screen and (max-width: 500px) {
    
    .container{
        max-width: 100vw;
        width: 100%;
    }

    .table-content .tablebox{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 8px;
    }

    table, thead, tbody, th, td, tr { 
		display: block; 
	}

    .header{
        display: none;
    }

	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.row { 
        //border: 1px solid #ff0000;
        padding: 0px;
        margin: 8px 0px;
        overflow-y: visible;
        .value{ 
            padding: 2px 0px 2px 60%;
            text-align: left; 
            font-size: 10px;
            //background-color: #25282c67;
            //border: 1px solid #ff0000;
        }
    }

    .normal{
        background-color: #00FFA3;
        border-radius: 50%;
        font-size: 10px;
        padding: 2px;
        font-weight: 500;
        color: #222529;
    }

    .st-danger{
        background-color: #EE4400;
        border-radius: 50%;
        font-size: 8px;
        padding: 2px;
        font-weight: 500;
        width: 10px;
        color: #222529;
    }
    
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #2d3136; 
		position: relative;
		//padding:0px 0px 0px 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
        //border: 1px solid #15ff00;
		top: 50%;
		left: 6px;
		width: 45%;
        padding-left: 24px !important; 
        transform: translateY(-50%);
		white-space: nowrap;
        text-align: start;
        font-size: 10px;
        background-color: #222529;
	}
	
	td:nth-of-type(1):before { content: "STATUS";
    color: #99aabb; }
    td:nth-of-type(2):before { content: "UPDATED"; }
	td:nth-of-type(3):before { content: "CODE"; }
	td:nth-of-type(4):before { content: "SITE"; }
	td:nth-of-type(5):before { content: "PROVINCE"; }
	td:nth-of-type(6):before { content: "DISTRICT"; }
	td:nth-of-type(7):before { content: "CAPACITY (MWp)"; }
	td:nth-of-type(8):before { content: "POWER (kW)"; }
	td:nth-of-type(9):before { content: "TODAY (MWH)"; }
    td:nth-of-type(10):before { content: "PR (%)"; }
    td:nth-of-type(11):before { content: "OPR (%)"; }
	td:nth-of-type(12):before { content: "MTH (kWh/kWp)"; }
	td:nth-of-type(13):before { content: "YTH (kWh/kWp)"; }
    td:nth-of-type(14):before { content: "PYRANO (W/m2)"; }
    td:nth-of-type(15):before { content: "PVTEMP1 (Deg. C)"; }
    td:nth-of-type(16):before { content: "PVTEMP2 (Deg. C)"; }
    td:nth-of-type(17):before { content: "AMBTEMP (Deg. C)"; }
}