<div class="container w-100 h-100 bz d-col-c">
    <div class="progress bz w-100 h-100">
        <app-circle-progress 
            [percent]="getPercentage()" 
            [value]="power()?.Value?.toFixed(0)??'---'" 
            [unit]="power()?.Unit??'kW'">
        </app-circle-progress>
    </div>
    <div class="infomation w-100">
        <div class="box d-col-c bz">
            <div class="title">YIELD</div>
            <div class="value" [matTooltip]="getTooltip(yield())" matTooltipPosition="above">
                {{ yield()?.Value?.toFixed(1)??'---' }}
            </div>
            <div class="unit">kWh/kWp</div>
        </div>
        <div class="box d-col-c bz">
            <div class="title">PR</div>
            <div class="value" [matTooltip]="getTooltip(performance())" matTooltipPosition="above">
                {{ performance()?.Value?.toFixed(1)??'---' }}
            </div>
            <div class="unit">%</div>
        </div>
        <div class="box d-col-c bz">
            <div class="title">CAPACITY</div>
            <div class="value" [matTooltip]="getTooltip(capacity())" matTooltipPosition="above">
                {{ capacity()?.Value?.toFixed(1)??'---' }}
            </div>
            <div class="unit">%</div>
        </div>
    </div>
</div>
