<div class="container w-100 h-100 bz d-col-c">
    <div class="progress bz w-100 h-100">
        <app-circle-progress
            [percent]="getPercentage()"
            [value]="energy()?.Value | numberFomat: '1.0-0'"
            [unit]="energy()?.Unit || 'kWh'">
        </app-circle-progress>
    </div>
    <div class="infomation w-100">
        <div class="box d-col-c bz">
            <div class="title">YIELD</div>
            <div class="value" [matTooltip]="tooltipSrv.getTooltip(yield())" matTooltipPosition="above">
                {{ yield()?.Value | numberFomat: '1.0-2' }}
            </div>
            <div class="unit">kWh/kWp</div>
        </div>
        <div class="box d-col-c bz">
            <div class="title">PEAK</div>
            <div class="value" [matTooltip]="tooltipSrv.getTooltip(performance())" matTooltipPosition="above">
                {{ (power()?.Value > performance()?.Value ? power()?.Value : performance()?.Value) | numberFomat: '1.0-0' }}
            </div>
            <div class="unit">kW</div>
        </div>
        <div class="box d-col-c bz">
            <div class="title">CAPACITY</div>
            <div class="value" [matTooltip]="tooltipSrv.getTooltip(capacity())" matTooltipPosition="above">
                {{ capacity()?.Value | numberFomat: '1.0-1' }}
            </div>
            <div class="unit">%</div>
        </div>
    </div>
</div>
