<div class="card-container w-100 h-100 bz">
    <div class="icon-box w-100 bz">
        <div class="item bz" [style.background-color]="color1()">
            <i class="icon material-icons" >{{ icon1() }}</i>
            <div class="value" [matTooltip]="tooltipSrv.getTooltip(data1())" matTooltipPosition="above">{{ data1()?.Value | number: '1.0-0'}}</div>
            <div class="unit">{{ data1()?.Unit || '' }}</div>
        </div>
        <div class="item bz" [style.background-color]="color2()">
            <i class="icon material-icons" >{{ icon2() }}</i>
            <div class="value" [matTooltip]="tooltipSrv.getTooltip(data2())" matTooltipPosition="above">{{ data2()?.Value | number: '1.0-0'}}</div>
            <div class="unit">{{ data2()?.Unit || '' }}</div>
        </div>
        <div class="item bz" [style.background-color]="color3()">
            <i class="icon material-icons" >{{ icon3() }}</i>
            <div class="value" [matTooltip]="tooltipSrv.getTooltip(data3())" matTooltipPosition="above">{{ data3()?.Value | number: '1.0-0'}}</div>
            <div class="unit">{{ data3()?.Unit || '' }}</div>
        </div>
        <div class="item bz" [style.background-color]="color4()">
            <i class="icon material-icons" >{{ icon4() }}</i>
            <div class="value" [matTooltip]="tooltipSrv.getTooltip(data4())" matTooltipPosition="above">{{ data4()?.Value | number: '1.0-0'}}</div>
            <div class="unit">{{ data4()?.Unit || '' }}</div>
        </div>
    </div>
    <div class="power-info-container w-100 h-100 bz">
        <div class="info-section bz">
            <div class="label">{{ title1() }}</div>
            <div class="value" [matTooltip]="tooltipSrv.getTooltip(value1())" matTooltipPosition="above">{{ value1()?.Value | number: '1.2-2' }}</div>
            <div class="unit">{{ unit1() }}</div>
        </div>
        <div class="divider-line"></div>
        <div class="info-section bz">
            <div class="label">{{ title2() }}</div>
            <div class="value" [matTooltip]="tooltipSrv.getTooltip(value2())" matTooltipPosition="above">{{ value2()?.Value | number: '1.2-2' }}</div>
            <div class="unit">{{ unit2() }}</div>
        </div>
    </div>
</div>