.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 16px;
    padding: 0px 12px;
}

.icon-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 8px;
    //padding: 28px 0px;
    .item{
        position: relative;
        width: 70px;
        height: 70px;
        border-radius: 4px;
        .icon{
            position: absolute;
            top: 2px;
            left: 2px;
            font-size: 22px;
            color: #F5F7FB;
        }
        .value{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            font-weight: 500;
            color: #F5F7FB;
        }
        .unit{
            position: absolute;
            bottom: 2px;
            right: 4px;
            font-size: 12px;
            color: #F5F7FB;
        }
    }
}

.power-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  .divider-line {
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
  }

  .info-section {
    padding: 10px;

    .label {
      font-size: 12px;
      font-weight: 500;
      color: var(--secondary-txt);
      margin-bottom: 8px;
      letter-spacing: 0;
    }

    .value {
      font-size: 20px;
      font-weight: 500;
      color: var(--primary-txt);
      display: inline-block;
      letter-spacing: 0;
    }

    .unit {
      font-size: 11px;
      font-weight: 500;
      color: var(--secondary-txt);
      display: inline-block;
      margin-left: 8px;
      letter-spacing: 0;
    }
  }
}
